.file-container {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  border-radius: 0.7rem;
  margin: 1rem;
  padding: 2rem 3rem;
  border: 1px solid #ccc;
  position: relative;
}

.product-container {
  position: relative;

  .button-remove {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.file-info {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1rem;
}

.file-buttons {
  height: 100%;
  position: absolute;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
